body {
	background-color: black;
	margin: 0;
}

h1 {
	font-family: Verdana;
	font-size: 50px;
	color: white;
	text-align: center;
	font-weight: normal;
}

h4 a, h4 {
	font-size: 16px;
	text-align: center;
	color: aquamarine;
	font-family: Verdana;
	font-weight: normal;
}

video, video source {
	display: block;
	margin: 0 auto;
}

h2 {
	font-size: 42px;
	text-align: center;
	color: white;
	font-family: Verdana;
	font-weight: 300;
}

h3 {
	font-size: 21px;
	text-align: center;
	color: gray;
	font-family: Verdana;
	font-weight: normal;
}